In [1]:
import pandas as pd

In [2]:
books_df= pd.read_csv("books.csv")

In [3]:
books_df.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [4]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6810 entries, 0 to 6809
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isbn13          6810 non-null   int64
 1   isbn10          6810 non-null   object
 2   title           6810 non-null   object
 3   subtitle        2381 non-null   object
 4   authors         6738 non-null   object
 5   categories      6711 non-null   object
 6   thumbnail       6481 non-null   object
 7   description     6548 non-null   object
 8   published_year  6804 non-null   float64
 9   average_rating  6767 non-null   float64
 10  num_pages       6767 non-null   float64
 11  ratings_count   6767 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 638.6+ KB

In [5]:
books_df = books_df[['title','authors','categories','description']]
books_df.head()

,title,authors,categories,description
0,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...
1,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...
2,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...
3,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b..."
4,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...

In [6]:
books_df['authors'] = books_df['authors'].apply(lambda x:str(x))

In [7]:
books_df['authors'] = books_df['authors'].apply(lambda x:x.split())

In [8]:
books_df

,title,authors,categories,description
0,Gilead,"[Marilynne, Robinson]",Fiction,A NOVEL THAT READERS and critics have been eag...
1,Spider's Web,"[Charles, Osborne;Agatha, Christie]",Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...
2,The One Tree,"[Stephen, R., Donaldson]",American fiction,Volume Two of Stephen Donaldson's acclaimed se...
3,Rage of angels,"[Sidney, Sheldon]",Fiction,"A memorable, mesmerizing heroine Jennifer -- b..."
4,The Four Loves,"[Clive, Staples, Lewis]",Christian life,Lewis' work on the nature of love divides love...
...,...,...,...,...
6805,I Am that,"[Sri, Nisargadatta, Maharaj;Sudhakar, S., Diks...",Philosophy,This collection of the timeless teachings of o...
6806,Secrets Of The Heart,"[Khalil, Gibran]",Mysticism,NaN
6807,Fahrenheit 451,"[Ray, Bradbury]",Book burning,NaN
6808,The Berlin Phenomenology,"[Georg, Wilhelm, Friedrich, Hegel]",History,Since the three volume edition ofHegel's Philo...
6809,'I'm Telling You Stories',"[Helena, Grice;Tim, Woods]",Literary Criticism,This is a jubilant and rewarding collection of...

In [9]:
books_df.dropna(inplace=True)

In [10]:
books_df['description'] = books_df['description'].apply(lambda x:x.split())
books_df

,title,authors,categories,description
0,Gilead,"[Marilynne, Robinson]",Fiction,"[A, NOVEL, THAT, READERS, and, critics, have, ..."
1,Spider's Web,"[Charles, Osborne;Agatha, Christie]",Detective and mystery stories,"[A, new, 'Christie, for, Christmas', --, a, fu..."
2,The One Tree,"[Stephen, R., Donaldson]",American fiction,"[Volume, Two, of, Stephen, Donaldson's, acclai..."
3,Rage of angels,"[Sidney, Sheldon]",Fiction,"[A, memorable,, mesmerizing, heroine, Jennifer..."
4,The Four Loves,"[Clive, Staples, Lewis]",Christian life,"[Lewis', work, on, the, nature, of, love, divi..."
...,...,...,...,...
6803,Journey to the East,"[Hermann, Hesse]",Adventure stories,"[This, book, tells, the, tale, of, a, man, who..."
6804,The Monk Who Sold His Ferrari: A Fable About F...,"[Robin, Sharma]",Health & Fitness,"[Wisdom, to, Create, a, Life, of, Passion,, Pu..."
6805,I Am that,"[Sri, Nisargadatta, Maharaj;Sudhakar, S., Diks...",Philosophy,"[This, collection, of, the, timeless, teaching..."
6808,The Berlin Phenomenology,"[Georg, Wilhelm, Friedrich, Hegel]",History,"[Since, the, three, volume, edition, ofHegel's..."
6809,'I'm Telling You Stories',"[Helena, Grice;Tim, Woods]",Literary Criticism,"[This, is, a, jubilant, and, rewarding, collec..."

In [11]:
books_df['categories'] = books_df['categories'].apply(lambda x:x.split())
books_df

,title,authors,categories,description
0,Gilead,"[Marilynne, Robinson]",[Fiction],"[A, NOVEL, THAT, READERS, and, critics, have, ..."
1,Spider's Web,"[Charles, Osborne;Agatha, Christie]","[Detective, and, mystery, stories]","[A, new, 'Christie, for, Christmas', --, a, fu..."
2,The One Tree,"[Stephen, R., Donaldson]","[American, fiction]","[Volume, Two, of, Stephen, Donaldson's, acclai..."
3,Rage of angels,"[Sidney, Sheldon]",[Fiction],"[A, memorable,, mesmerizing, heroine, Jennifer..."
4,The Four Loves,"[Clive, Staples, Lewis]","[Christian, life]","[Lewis', work, on, the, nature, of, love, divi..."
...,...,...,...,...
6803,Journey to the East,"[Hermann, Hesse]","[Adventure, stories]","[This, book, tells, the, tale, of, a, man, who..."
6804,The Monk Who Sold His Ferrari: A Fable About F...,"[Robin, Sharma]","[Health, &, Fitness]","[Wisdom, to, Create, a, Life, of, Passion,, Pu..."
6805,I Am that,"[Sri, Nisargadatta, Maharaj;Sudhakar, S., Diks...",[Philosophy],"[This, collection, of, the, timeless, teaching..."
6808,The Berlin Phenomenology,"[Georg, Wilhelm, Friedrich, Hegel]",[History],"[Since, the, three, volume, edition, ofHegel's..."
6809,'I'm Telling You Stories',"[Helena, Grice;Tim, Woods]","[Literary, Criticism]","[This, is, a, jubilant, and, rewarding, collec..."

In [12]:
books_df['tags'] =books_df['authors']+books_df['categories']+books_df['description']

In [13]:
books_df

,title,authors,categories,description,tags
0,Gilead,"[Marilynne, Robinson]",[Fiction],"[A, NOVEL, THAT, READERS, and, critics, have, ...","[Marilynne, Robinson, Fiction, A, NOVEL, THAT,..."
1,Spider's Web,"[Charles, Osborne;Agatha, Christie]","[Detective, and, mystery, stories]","[A, new, 'Christie, for, Christmas', --, a, fu...","[Charles, Osborne;Agatha, Christie, Detective,..."
2,The One Tree,"[Stephen, R., Donaldson]","[American, fiction]","[Volume, Two, of, Stephen, Donaldson's, acclai...","[Stephen, R., Donaldson, American, fiction, Vo..."
3,Rage of angels,"[Sidney, Sheldon]",[Fiction],"[A, memorable,, mesmerizing, heroine, Jennifer...","[Sidney, Sheldon, Fiction, A, memorable,, mesm..."
4,The Four Loves,"[Clive, Staples, Lewis]","[Christian, life]","[Lewis', work, on, the, nature, of, love, divi...","[Clive, Staples, Lewis, Christian, life, Lewis..."
...,...,...,...,...,...
6803,Journey to the East,"[Hermann, Hesse]","[Adventure, stories]","[This, book, tells, the, tale, of, a, man, who...","[Hermann, Hesse, Adventure, stories, This, boo..."
6804,The Monk Who Sold His Ferrari: A Fable About F...,"[Robin, Sharma]","[Health, &, Fitness]","[Wisdom, to, Create, a, Life, of, Passion,, Pu...","[Robin, Sharma, Health, &, Fitness, Wisdom, to..."
6805,I Am that,"[Sri, Nisargadatta, Maharaj;Sudhakar, S., Diks...",[Philosophy],"[This, collection, of, the, timeless, teaching...","[Sri, Nisargadatta, Maharaj;Sudhakar, S., Diks..."
6808,The Berlin Phenomenology,"[Georg, Wilhelm, Friedrich, Hegel]",[History],"[Since, the, three, volume, edition, ofHegel's...","[Georg, Wilhelm, Friedrich, Hegel, History, Si..."
6809,'I'm Telling You Stories',"[Helena, Grice;Tim, Woods]","[Literary, Criticism]","[This, is, a, jubilant, and, rewarding, collec...","[Helena, Grice;Tim, Woods, Literary, Criticism..."

In [14]:
new_df = books_df[['title','tags','categories']]

In [15]:
new_df['tags']=new_df['tags'].apply(lambda x: ' '.join(x))

C:\Users\Naboth Demetrius\AppData\Local\Temp\ipykernel_13108\4076496393.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: ' '.join(x))

In [16]:
new_df

,title,tags,categories
0,Gilead,Marilynne Robinson Fiction A NOVEL THAT READER...,[Fiction]
1,Spider's Web,Charles Osborne;Agatha Christie Detective and ...,"[Detective, and, mystery, stories]"
2,The One Tree,Stephen R. Donaldson American fiction Volume T...,"[American, fiction]"
3,Rage of angels,"Sidney Sheldon Fiction A memorable, mesmerizin...",[Fiction]
4,The Four Loves,Clive Staples Lewis Christian life Lewis' work...,"[Christian, life]"
...,...,...,...
6803,Journey to the East,Hermann Hesse Adventure stories This book tell...,"[Adventure, stories]"
6804,The Monk Who Sold His Ferrari: A Fable About F...,Robin Sharma Health & Fitness Wisdom to Create...,"[Health, &, Fitness]"
6805,I Am that,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit P...,[Philosophy]
6808,The Berlin Phenomenology,Georg Wilhelm Friedrich Hegel History Since th...,[History]
6809,'I'm Telling You Stories',Helena Grice;Tim Woods Literary Criticism This...,"[Literary, Criticism]"

In [17]:
new_df['tags'][0]

'Marilynne Robinson Fiction A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike.'

In [18]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Naboth Demetrius\AppData\Local\Temp\ipykernel_13108\3504280479.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [19]:
new_df['tags'][0]

'marilynn robinson fiction a novel that reader and critic have been eagerli anticip for over a decade, gilead is an astonishingli imagin stori of remark lives. john ame is a preacher, the son of a preacher and the grandson (both matern and paternal) of preachers. it’ 1956 in gilead, iowa, toward the end of the reverend ames’ life, and he is absorb in record hi family’ story, a legaci for the young son he will never see grow up. haunt by hi grandfather’ presence, john tell of the rift between hi grandfath and hi father: the elder, an angri visionari who fought for the abolitionist cause, and hi son, an ardent pacifist. he is troubled, too, by hi prodig namesake, jack (john ames) boughton, hi best friend’ lost son who return to gilead search for forgiv and redemption. told in john ames’ joyous, rambl voic that find beauty, humour and truth in the smallest of life’ details, gilead is a song of celebr and accept of the best and the worst the world ha to offer. at it heart is a tale of the sacr bond between father and sons, pitch-perfect in style and story, set to dazzl critic and reader alike.'

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 50000, stop_words = 'english')

In [21]:
cv.fit_transform(new_df['tags']).toarray().shape

(6511, 30042)

In [22]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [23]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [24]:
new_df

,title,tags,categories
0,Gilead,marilynn robinson fiction a novel that reader ...,[Fiction]
1,Spider's Web,charl osborne;agatha christi detect and myster...,"[Detective, and, mystery, stories]"
2,The One Tree,stephen r. donaldson american fiction volum tw...,"[American, fiction]"
3,Rage of angels,"sidney sheldon fiction a memorable, mesmer her...",[Fiction]
4,The Four Loves,clive stapl lewi christian life lewis' work on...,"[Christian, life]"
...,...,...,...
6803,Journey to the East,hermann hess adventur stori thi book tell the ...,"[Adventure, stories]"
6804,The Monk Who Sold His Ferrari: A Fable About F...,robin sharma health & fit wisdom to creat a li...,"[Health, &, Fitness]"
6805,I Am that,sri nisargadatta maharaj;sudhakar s. dikshit p...,[Philosophy]
6808,The Berlin Phenomenology,georg wilhelm friedrich hegel histori sinc the...,[History]
6809,'I'm Telling You Stories',helena grice;tim wood literari critic thi is a...,"[Literary, Criticism]"

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
cosine_similarity(vectors)

array([[1.        , 0.0258977 , 0.01532129, ..., 0.20054425, 0.0581498 ,
        0.03230011],
       [0.0258977 , 1.        , 0.01690309, ..., 0.06321395, 0.05832118,
        0.01781742],
       [0.01532129, 0.01690309, 1.        , ..., 0.        , 0.01725164,
        0.        ],
       ...,
       [0.20054425, 0.06321395, 0.        , ..., 1.        , 0.09032446,
        0.07884165],
       [0.0581498 , 0.05832118, 0.01725164, ..., 0.09032446, 1.        ,
        0.        ],
       [0.03230011, 0.01781742, 0.        , ..., 0.07884165, 0.        ,
        1.        ]])

In [27]:
cosine_similarity(vectors).shape

(6511, 6511)

In [28]:
similarity = cosine_similarity(vectors)
new_df

,title,tags,categories
0,Gilead,marilynn robinson fiction a novel that reader ...,[Fiction]
1,Spider's Web,charl osborne;agatha christi detect and myster...,"[Detective, and, mystery, stories]"
2,The One Tree,stephen r. donaldson american fiction volum tw...,"[American, fiction]"
3,Rage of angels,"sidney sheldon fiction a memorable, mesmer her...",[Fiction]
4,The Four Loves,clive stapl lewi christian life lewis' work on...,"[Christian, life]"
...,...,...,...
6803,Journey to the East,hermann hess adventur stori thi book tell the ...,"[Adventure, stories]"
6804,The Monk Who Sold His Ferrari: A Fable About F...,robin sharma health & fit wisdom to creat a li...,"[Health, &, Fitness]"
6805,I Am that,sri nisargadatta maharaj;sudhakar s. dikshit p...,[Philosophy]
6808,The Berlin Phenomenology,georg wilhelm friedrich hegel histori sinc the...,[History]
6809,'I'm Telling You Stories',helena grice;tim wood literari critic thi is a...,"[Literary, Criticism]"

In [29]:
def recommend(book,n):
    lst =[]
    book_index =new_df[new_df['title']==book].index[0]
    distances = similarity[book_index]
    book_list = sorted(list(enumerate(distances)),reverse= True,key = lambda x:x[1])[0:n+1]
    genre = new_df.iloc[book_list[0][0]].categories
    for i in book_list[1:]:
        a = new_df.iloc[i[0]].title
        b=0
        if genre[0] in new_df.iloc[i[0]].categories:
            b=1
        lst.append((a,b))
    result =[]
    for i in lst:
        if i[1]==1:
            result.append(i[0])
    for i in lst:
        if i[1]==0:
            result.append(i[0])
    print(result)

In [31]:
recommend(input('Enter the book name to recommend:'),int(input('No of book to recommend :')))

Enter the book name to recommend:Rage of angels
No of book to recommend :5
['The Drawing of the Three', 'Tsubasa', 'Paint it Black', 'Organized Crime', 'If Tomorrow Comes']